{% extends "base.html" %}


{% block content %}

{% load crispy_forms_tags %}


{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show mx-auto mt-2 pb-0" role="alert" style="width: 40%;">
      <p class="text-center">{{ message }}</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}


<h1 class="text-center">Sign in</h1>
<form method="POST" action="" class="form mx-auto col-md-4" novalidate>

    <!-- {{ form|crispy }} -->
    {% csrf_token %}
    {% for fm in form %}

    <div class="form-group">
        {{ fm.label_tag }}
        {{ fm }}
        {{ fm.errors|striptags }}
    </div>

    {% endfor %}

    <button class="btn btn-success mt-3 mx-auto">Sign in</button>
</form>

{% endblock content %}